<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <form action="/review/list" method="get" id="searchForm">
            <input type="hidden" name="page" value="1">
        </form>

        <div class="ju">리뷰 내역</div>
        <div class="jumoon" th:each="review, index : ${reviewList}" th:if="${review.review_id != null}">
            <div>
                <form id="reviewDelId" th:action="@{/review/delete}" th:method="post" onsubmit="deleteSuc()">
                    <input type="hidden" name="review_id" th:value="${review.review_id}">
                    <button type="button" id="submitBtn" class="btn btn-danger"
                            style="float:right; margin-right:20px">삭제</button>
                </form>
                <ul style="list-style-type:none;">
                    <li style="margin : 20px 0px 0px 0px">
                        작성 일자: [[${review.created_date}]]
                    </li>
                    <li style="margin : 20px 0px 20px 0px">
                        <a th:href="'http://localhost/store/read?store_id='+${review.store_id}" style="color:blue"><img
                                th:src="${review.store_picture_url}" style="max-width:350px; height:200px;"></a>
                    </li>
                    <li>
                        <a th:href="'http://localhost/store/read?store_id='+${review.store_id}"
                           style="font-size:30px">[[${review.store_name}]]</a>
                    </li>

                    <li class="imgList" th:attrappend="class=${index.index}" style="margin : 20px 0px 20px 0px">

                    </li>
                    <li>
                        주문 메뉴:
                    </li>

                    <li th:each="ordersMenuHistory : ${review.ordersMenuHistoryList}">
                        [[${ordersMenuHistory.menu_name}]]
                    </li>
                    <hr width="85%">
                    <li>
                        평점: ☆ [[${review.rating}]]
                    </li><br>
                    <li th:if="${review.content != ''}">
                        내용: [[${review.content}]]
                    </li>
                    <li th:unless="${review.content != ''}">
                        내용: 미입력
                    </li>

                </ul>

            </div>

        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var reviewList = /*[[ ${reviewList} ]]*/;
            /*]]*/

            function setPath() {

                for (let i = 0; i < reviewList.length; i++) {
                    for (let j = 0; j < reviewList[i].reviewPictureList.length; j++) {
                        let pictureInfo = reviewList[i].reviewPictureList[j];
                        let path = encodeURIComponent(pictureInfo.uploadpath + '/' + pictureInfo.uuid + '_' + pictureInfo.filename)
                        console.log("i: " + i + " j: " + j + " path: " + path);
                        showImage(path.replace(new RegExp(/\\/g), "/"), i);
                    }

                }

            }

            function showImage(fileCallPath, index) {
                $(".imgList" + index).append("<img style='height:100px' src='/display?fileName=" + fileCallPath + "' >")
            }

            $(function () {
                setPath();
            });

            function deleteSuc() {
                alert('삭제 되었습니다.');
            }
            $("#submitBtn").click(function (e) {
                e.preventDefault();
                if (!confirm('정말로 삭제하시겠습니까?')) return;
                $('#reviewDelId')[0].submit();
            });
        </script>



        </script>

    </th:block>

</th:block>